*{
    font-family: 'Roboto', sans-serif;
}


body{
    background: linear-gradient(90deg, rgba(239,241,238,1) 0%, rgba(239,241,238,1) 50%, rgba(225,227,224,1) 50%, rgba(225,227,224,1) 100%);
    position: relative;
    height: 100vh;
    width: 100%;
  }


/* ===== Scrollbar CSS ===== */
  /* Firefox */
  * {
    scrollbar-width: auto;
    scrollbar-color: #9a989a #ffffff;
  }

  /* Chrome, Edge, and Safari */
  *::-webkit-scrollbar {
    width: 5px;
  }

  *::-webkit-scrollbar-track {
    background: rgba(225,227,224,1);
  }

  *::-webkit-scrollbar-thumb {
    background-color: #9a989a;
    border-radius: 10px;
    
  }


  .my-masonry-grid {
    display: -webkit-box; /* Not needed if autoprefixing */
    display: -ms-flexbox; /* Not needed if autoprefixing */
    display: flex;
    margin-left: -16px; /* gutter size offset */
    width: auto;
  }
  .my-masonry-grid_column {
    padding-left: 16px; /* gutter size */
    background-clip: padding-box;
  }


  .my-masonry-grid_column > div > .method, .methodset{ /* change div to reference your elements you put in <Masonry> */
    margin-bottom: 16px;
  }

  .methodSet{
    /*height: 688px;*/
  }

  .method{
    /*height: 336px;*/
    transition-duration: 100ms;

  }
.method:hover, .methodSet:hover{
  border-radius: 16px;
  transform: scale(1.009);
  
  filter: drop-shadow(0 0 25px #c7c7c790); 
}

.disableTransition{
    transition: none
}

.sidebarWrapper{
    position: sticky;
    top: 56px;
    display: flex;
    height: 100vh;
    overflow-x: hidden;
    overflow-y: auto;
    width: fit-content;
    background-color: #eff1ee;

    
}

.sidebar{ 
  padding: 8px;
  z-index: 1;
  background-color: #eff1ee;
}

.setMakerWrapper{
    position: relative;
    display: flex;
    background-color: #e1e3e0;
    
}

.filterWrapper{
  position: sticky;
  top: 56px;
  align-self: flex-start;
  width: 100%;
  z-index: 1;
  background-color: #e1e3e0;
}
.content{
  display: flex;
  flex-flow: column;
  width: 66.6%;
}

.cardsWrapper{
  display: flex;
  flex-flow: column;
  height: 100%;
}
.cards{
  position: static;
  padding: 8px;
  height: 100%;
  overflow-y: scroll;
  flex-grow : 1;
}
ol{
    padding-left: 24px;
}


.MuiButton-contained{
    border-radius: 100px;
}

.MuiButton-outlined{
    border-radius: 100px;
    border-width: 2px;
}
.MuiButton-outlined:hover{
    border-width: 2px;
}

.MuiChip-root{
    border-radius: 8px;
    background-Color: #FFDAD6;
    font-Size: 14px;
    
}
.MuiChip-label{
    font-Weight: 500;
}


.MuiTabs-indicator{
    height: 4px;
}

.MuiCardContent-root:last-child{
    padding-bottom: 16px; 
}


.MuiAccordion-root.Mui-expanded.phase{
    background-color: #757875;
    box-shadow: none;
}

.MuiDivider-root::before, .MuiDivider-root::after {
    border-color: #FF5454;
    border-width: 2px;
}

.StepperCircle{
    width: 100%;
    height: 100%;
    border-radius: 16px; 
    background-color: #FF5454;
}


.phaseDrop{
    width: 270px;
}

.circle{
  min-height: 8px;
  min-width: 8px;
  background-color: #FF5454;
  border: solid 6px  #C4C7C4;
  outline: solid 4px #ffffff;
  border-radius: 24px;
  z-index: 3;
}

.circlePlaceholder{
  min-height: 20px;
  min-width: 20px;
}

.stick{
  position: sticky;
}


.MuiModal-root{
  max-height: 100vh;
  
}

.LinkButton{
  margin-top: 24px;
  text-decoration: none;
  color: #ffffff;
  background-color: #FF5454;
  border-radius: 100px;
  padding: 8px 16px;
  font-weight: 500;
  font-size: 14px;
  transition-duration: 100ms;

}